.ListaRestaurantes {
	margin-top: 1.5rem;
	padding: 2rem;
}
.button__VerMais {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	width: 200px;
	height: 45px;
	border-radius: 8px;
	margin-top: 1.5rem;
	padding: 2rem;
	transition: 0.2s ease-in;
	background: gray;
	&:hover {
		background: lightgray;
		border-radius: 16px;
		cursor: pointer;
	}
}

